<div>
    <h1>Testing Angular with PWA</h1>

    <div *ngIf="showButton" class="cookie-consent-banner">
        <div class="cookie-consent-banner__inner">
            <div class="cookie-consent-banner__copy">
                <div class="cookie-consent-banner__header">THIS WEBSITE USES PWA (Progressive Web Apps)</div>
                <div class="cookie-consent-banner__description">We use PWA to personalise mobile experience. Please click Add To Home Screen to add CORA to device home screen.</div>
            </div>

            <div class="cookie-consent-banner__actions">
                <button (click)="addToHomeScreen()">Add To Home Screen</button>

                <button>Decline</button>
            </div>
        </div>
    </div>
</div>
